// Color Pallete
$black: #000000;
$gray: #5d5d5d;
$gray-text:#464646;
$yellow: #fdd939;
$white: #ffffff;
$green: #1faa00;
$red: #ee3d3c;
/* Transition */
$transitionFast: all 0.3s ease-in-out;
$transitionSlow: all 0.6s ease-in-out;
/* Font Family */
$fontBarlow: "Barlow", sans-serif;
$fontRoboto: "Roboto", sans-serif;

body,
html {
  @media (max-width: 991.98px) {
    overflow-y: auto;
  }
}
body {
  font-family: $fontBarlow;
  color: $black;
  background-color: $white;
  font-weight: 400;
  font-size: 15px;

  @media (min-width: 1600px) {
    font-size: 17px;
  }

  @media (max-width: 575.98px) {
    font-size: 14px;
  }

}

.container-layout {
  width: 80%;
  margin: auto;

  @media (max-width: 575.98px) {
    width: 100%;
    padding: 0 15px;
  }
}

.container-layout-large {
  width: 90vw;
  margin: auto;

  @media (max-width: 575.98px) {
    width: 100%;
    padding: 0 15px;
  }
}

.container-section {
  width: 85%;
  margin: auto;

  @media (max-width: 575.98px) {
    width: 100%;
    padding: 0 15px;
  }
}

.container-start,
.container-end {
  @media (min-width: 576px) {
    width: 90%;
  }

  @media (min-width: 576px) and (max-width: 991.98px) {
    margin: auto;
  }
}

// img Fit

.img-fit {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;

  &.position-absolute {
    top: 0;
    left: 0;
    right: 0;
  }
}

.color-white {
  color: $white;
}

.color-gray {
  color: $gray;
}

.color-gray-text {
  color: $gray-text;
}

.font-medium {
  font-weight: 500;
}

// Button
.btn_main {
  border: none;
  border-radius: 0;
  box-shadow: none !important;
  outline: none !important;
  padding: 0.5rem 2.5rem !important;
  font-family: $fontRoboto;
  font-weight: 700;
  color: $black;
  transition: $transitionFast;
  text-decoration: none;
  min-width: 132px;
  &.white {
    background-color: $white;
  }
  &.yellow {
    background-color: $yellow;
    color: $black !important;
  }

  &:hover {
    border-radius: 33px;
    background-color: $black;
    color: $white !important;
    &.reverse {
      background-color: $white;
      color: $black !important;
    }
  }
}
.dot-yellow,
.dot-white {
  position: relative;
  &::after {
    bottom: 0;
    content: ".";
    position: absolute;
    transform: translate(-100%, 0);
  }

  &.dot-yellow {
    &::after {
      color: $yellow;
    }
  }
  &.dot-white {
    &::after {
      color: $white;
    }
  }
}
.section-title {
  font-weight: 900;
  position: relative;
  @media (min-width: 1600px) {
    font-size: 55px;
  }

  @media (min-width: 992px) and (max-width: 1599.98px) {
    font-size: 45px;
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 30px;
  }

  @media (max-width: 767.98px) {
    font-size: 25px;
  }
}

.subtitle {
  @media (min-width: 1600px) {
    font-size: 26px;
  }

  @media (min-width: 992px) and (max-width: 1599.98px) {
    font-size: 24px;
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 22px;
  }

  @media (max-width: 767.98px) {
    font-size: 18px;
  }
}

.container-fluid {
  @media (max-width: 991.98px) { padding: 0; }

}

.navbar {
  background-color: rgba(255, 255, 255, 0.85);
  opacity: 1;
  backdrop-filter: blur(30px);
  height: 78px;
  padding: 1rem 1rem;
  @media (max-width: 991.98px) {
    padding: 0.5rem 1rem; 
    height: 60px;
  }

  .navbar-brand {
    max-width: 225px;
    @media (max-width: 991.98px) {
      z-index: 9;
    }
    @media (max-width: 575.98px) {  max-width: 120px; }
  }

  .nav-start {
    .nav-item {
      margin: 0 0.35rem;
      .nav-link {
        transition: $transitionFast;
        position: relative;
        
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 0%;
          height: 2px;
          background-color: $black;
          transition: $transitionFast;
        }
        @media (max-width: 991.98px) {
          color: $black;
          font-weight: 500;
          text-align: center;
         
         }
      }
      &.active,
      &:hover {
        .nav-link {
          text-shadow: -0.25px -0.25px 0 $black, 0.25px 0.25px $black;
          &::after {
            width: 30%;
            // @media (max-width: 991.98px) {
            //   width: 100%;
            // }
          }
        }
      }
    }
  }

  .nav-end {
    .nav-link {
      @media (max-width: 991.98px) {
        color: $black;
        font-weight: 500;
        text-align: center;
        &.btn_main {
          background-color: $white;
        }
       }
    }

    .login {
      text-decoration: underline;
      font-weight: 700;
      color: $black;
      text-transform: capitalize;
    }
  }

  .navbar-toggler{
    border: none;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    padding: 0;
    .navbar-toggler-icon {
      background-image: url('../img/open-menu.svg');
      transition: $transitionFast;
      width: 21px;
      height: 21px;
      background-size: contain;
    }
    &:not(.collapsed) {
      .navbar-toggler-icon {
        transform: rotate(180deg);
        background-image: url('../img/close-icon.svg');
      }
    }
    @media (max-width: 991.98px) {
      z-index: 9;
    }
  }

  .navbar-collapse {
    @media (max-width: 991.98px) {
     position: fixed;
     width: 100vw;
     height: 100vh;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background-color: $yellow;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     opacity: 0;
     pointer-events: none;
     transition: $transitionFast;
     &.show {
       opacity: 1;
       pointer-events: all;
     }
    }
  }
 
}

// #fullview > section {
//     padding-top: 78px;
//     @media (max-width: 991.98px) {
//       height: auto !important;
//       overflow-y: auto !important;
//     }

// }
section {
  padding-top: 78px;
  @media (max-width: 991.98px) {
    height: auto !important;
    // overflow-y: auto !important;
    padding-top: 60px;
  }
}

.home {
  background-color: $white;
  .home-img {
    height: 70vh;
    @media (max-width: 991.98px) {
      height: 45vh;
      z-index: 1;
    }
  }

  .home-text {
    background-color: $yellow;
    position: relative;
    height: 100%;
    @media (max-width: 991.98px) {
      padding: 1.5rem 0;
    }
    &::before {
      content: "";
      position: absolute;
      background-color: $yellow;
      @media (min-width: 992px) {
        z-index: -1;
        left: -12vw;
        width: 12vw;
        height: 100%;
      }

      @media (max-width: 991.98px) {
        height: 20vh;
        width: 100%;
        top: -20vh;
      }
    }

    .section-title {
      @media (min-width: 1600px) {
        width: 22vw;
      }

      @media (min-width: 992px) and (max-width: 1599.98px) {
        width: 25vw;
      }
    }
    .description {
      @media (min-width: 1600px) {
        width: 60%;
      }

      @media (min-width: 992px) and (max-width: 1599.98px) {
        width: 75%;
      }
    }
    .logo-home {
      @media (min-width: 1600px) {
        width: 22vw;
      }

      @media (min-width: 992px) and (max-width: 1599.98px) {
        width: 24vw;
      }
    }
  }
}

.about-us {
  background-color: $white;
  .about-category {
    background-color: $black;
    padding: 1.5rem;
    @media (max-width: 575.98px) {
      padding: 1rem;
    }
    @media (max-width: 991.98px) {
      text-align: center;
    }
    .category {
      color: $white;

      @media (min-width: 992px) {
        padding: 0 3rem;
      }

      .category-img {
        max-width: 55px;
        @media (max-width: 991.98px) {
          margin: 0 auto;
        }
      }
      .category-title {
        font-weight: 500;
      }
    }
  }
}

.products {
  background-color: $white;
  .products-tabs {
    .nav-pills {
      column-count: 3;
      column-gap: 40px;
      display: block;
      @media (min-width: 768px) and (max-width: 991.98px) {
        column-count: 2;
      }
      @media (max-width: 991.98px) {
        padding: 1.5rem;
      }

      @media (max-width: 767.98px) {
        column-count: 1;
      }

      .nav-link {
        color: rgba(0, 0, 0, 0.4);
        text-transform: capitalize;
        font-weight: 500;
        line-height: normal;
        position: relative;
        padding: 0;
        text-align: left;
        padding-left: 8px;
        margin-bottom: 1.5rem;
        transition: $transitionFast;
        

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 4px;
          height: 0%;
          background-color: $yellow;
          transition: $transitionFast;
        }

        @media (min-width: 1600px) {
          font-size: 28px;
        }

        @media (min-width: 992px) and (max-width: 1599.98px) {
          font-size: 26px;
        }

        @media (min-width: 768px) and (max-width: 991.98px) {
          font-size: 24px;
        }

        @media (max-width: 767.98px) {
          font-size: 20px;
        }
        &.active {
          color: $black;
          background-color: transparent;
          &::before {
            height: 100%;
          }
        }
        &:hover {
          color: $black;
        }
      }
    }
    .tab-content > .tab_img {
      height: 250px;
      overflow: hidden;
      @media (max-width: 575.98px) {
        height: 200px;
      }
    }
  }
}

.benefits {
  background-color: $yellow;
  @media (max-width: 991.98px) {
    padding-bottom: 40px;
  }

  .benefit {
    .benefit-img {
      max-width: 100px;
      margin: 0 auto;

      @media (max-width: 575.98px) {
        max-width: 50px;
      }
    }
    .benefit-title {
      font-weight: 700;
        @media (min-width: 1600px) {
          font-size: 28px;
        }
      
        @media (min-width: 992px) and (max-width: 1599.98px) {
          font-size: 26px;
        }
      
        @media (min-width: 768px) and (max-width: 991.98px) {
          font-size: 24px;
        }
      
        @media (max-width: 767.98px) {
          font-size: 20px;
        }
    }
    .description {
      @media (min-width: 992px) { 
        width: 80%;
        margin: 0 auto 1rem;
       }

    }
  }
}

.clients {
  background-color: $white;
}

.contact {
  padding-top: 0;
  .get-in-touch,
  .contact-info {
    padding-top: 100px;
    height: calc(100% - 48px);
    @media (max-width: 991.98px) {
      padding-top: 60px;
      padding-bottom: 40px;
    }
  }
  .get-in-touch {

    background-color: $black;
  }
  .contact-info {
    @media (min-width: 992px) {
      background-color: $yellow;
    }
    @media (max-width: 991.98px) {
      background-color: $black;
      margin-top: -1px;
      .section-title {
        color: $white;
        &.dot-white {
          &::after {
            color: $yellow;
          }
        }
      }
    }
    .contact-wrap {
     
      @media (min-width: 992px) {
        width: 50%;
        margin: 0 auto;
      }
      .info {
        color: $black;
        transition: $transitionFast;
        font-weight: 500;
        @media (min-width: 992px) {
          color: $black;
        }
        @media (max-width: 991.98px) {
         color: $white;
        }
        img {
          max-width: 28px;
          @media (max-width: 991.98px) {
           filter: brightness(0) invert(1);
           }
        }
        &:hover {
          text-shadow: -0.25px -0.25px 0 currentColor, 0.25px 0.25px currentColor;

        }
      }
    }
  }
  .copyright {
    height: 48px;
  }
}

// Forms
.form-control {
  background-color: transparent;
  box-shadow: none !important;
  outline: none !important;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  color: $white;
  &:focus {
    background-color: transparent;
    border-color: $white;
    color: $white;
  }
}
.form-floating > label {
  color: rgba(255, 255, 255, 0.6);
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  color: $white;
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  top: auto;
  bottom: 0;
  height: 22px;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev,
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("../img/arrow-next.svg");
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  transform: rotate(180deg);
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: auto;
  left: 70px;
  @media (max-width: 991.98px) {
    left: auto;
    right: 30vw;
  }
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  @media (max-width: 991.98px) {
    left: 30vw;
    right: auto;
  }
}

.space-end {
  
  @media (min-width: 992px) { padding-right: 5rem; }

}

/* Override Styles */
#fv-dots ul li a span {
  background-color: $gray;
  border-radius: 0;
  transition: $transitionFast;
  transform: rotate(0deg);
}

#fv-dots ul a.active span {
  width: 11px;
  height: 11px;
  transform: rotate(45deg);
  background-color: $black;
}

.swiper-container {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  overflow: hidden;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 100px;
  width: 100%;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
